/python/.idea
*.pyc
/python/fssimilarity.egg-info/*
/python/compareSets.bat
/python/test-time.bat
/visualization/.idea
/.idea

static/visualization/\.idea/

test/
/static/.idea
/executables/ovaexpert/input/patient_data.xlsx
