.calculate-button {
    margin-top:10px;
}

.similarity-egample-segment {
    margin-right:25px; margin-top:20px;
    margin-bottom: 50px;
}

.fuzzy-sets-container {
    margin-bottom: 100px;
}