<div class="similarity-example-segment"
     ng-init="similarityCalculatorCtrl.init(methodConfig)">
    <form name="similarityForm"
          role="form"
          ng-submit="similarityCalculatorCtrl.calculateResult()">
        <div class="form-group">
            <h3 class="result">
                <span>Result: </span>
                <span class="result-value">{{ similarityCalculatorCtrl.similarityOfSets }}</span>
            </h3>
            <label>Set A:</label>
            <input type="text"
                   required
                   class="form-control"
                   ng-model="similarityCalculatorCtrl.rawSetA"
                   title="Set A"/>
            <label>Set B:</label>
            <input type="text"
                   required
                   class="form-control"
                   ng-model="similarityCalculatorCtrl.rawSetB"
                   title="Set B"/>
            <input type="submit" class="btn btn-primary pull-right" value="Calculate"/>
            <fuzzy-set-chart config="similarityCalculatorCtrl.chartConfig"></fuzzy-set-chart>
        </div>
    </form>
</div>