<div class="similarity-example-segment">
    <form name="similarityForm"
          role="form"
          ng-submit="similarityCalculatorCtrl.calculateResult()">
        <div class="form-group">
            <h3 class="result">
                <span>Result: </span>
                <span class="result-value">{{ similarityCalculatorCtrl.similarityOfSets }}</span>
            </h3>
            <label>Set A:</label>
            <input type="text"
                   required
                   class="form-control"
                   ng-model="similarityCalculatorCtrl.rawSetA"
                   title="Set A"/>
            <label>Set B:</label>
            <input type="text"
                   required
                   class="form-control"
                   ng-model="similarityCalculatorCtrl.rawSetB"
                   title="Set B"/>
            <div class="config">
                <label>R:</label>
                <input type="number"
                       required
                       class="form-control"
                       ng-model="similarityCalculatorCtrl.similarityData.config.r"
                       title="R"/>
            </div>
            <input type="submit" class="btn btn-primary pull-right" value="Calculate"/>
        </div>
    </form>
</div>