<html>

<head>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>

<body ng-app="fuzzy-sets">

<div class="col-xs-12 col-sm-10 col-sm-offset-1"
     ng-controller="ComparisonDataProvider as comparisonCtrl">

    <fuzzy-navigation></fuzzy-navigation>

    <div class="comparison-main-form">
        <form name="similarityForm"
              role="form"
              ng-submit="comparisonCtrl.calculateResult()">
            <div class="col-xs-12 col-sm-10">
                <label>Predefined data sets</label>
                <select ng-controller="FormController as formCtrl"
                        ng-model="comparisonCtrl.selectedDataSetKey"
                        class="form-control"
                        required
                        title="Data Set">
                    <option ng-repeat="option in formCtrl.dataSets" value="{{option.key}}">{{option.label}}</option>
                </select>
                <raw-sets-input
                        raw-set-a="comparisonCtrl.rawFuzzySets.setA"
                        raw-set-b="comparisonCtrl.rawFuzzySets.setB">
                </raw-sets-input>
            </div>
            <div class="col-xs-12 col-sm-2">
                <input type="submit" class="btn btn-primary pull-right" value="Calculate"/>
            </div>
        </form>

        <div class="col-xs-12 col-sm-6">
            <fuzzy-set-chart
                    ng-hide="hideChart"
                    config="comparisonCtrl.chartConfig"></fuzzy-set-chart>
        </div>

        <div class="col-xs-12 col-sm-6">
            <canvas id="bar"
                    class="chart chart-bar"
                    chart-series="comparisonCtrl.summaryChartConfig.series"
                    chart-labels="comparisonCtrl.summaryChartConfig.labels"
                    chart-data="comparisonCtrl.summaryChartConfig.data">

            </canvas>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12">
        <div ng-repeat="example in comparisonCtrl.configurations"
             class="col-xs-12 col-sm-6 similarity-config-entry">
            <similarity-calculator
                    name="example.method"
                    hide-chart="true"
                    hide-sets="true"
                    method-config="example">
            </similarity-calculator>
        </div>
    </div>
</div>

<script src="js/libs/angular.js"></script>
<script src="js/lodash/lodash.min.js"></script>
<script src="js/libs/chart/Chart-2.6.0.min.js"></script>
<script src="js/libs/chart/angular-chart.min.js"></script>
<script type="text/javascript" src="js/app/array-utils.js"></script>
<script type="text/javascript" src="js/app/app.js"></script>
<script type="text/javascript" src="js/app/charts.js"></script>
<script type="text/javascript" src="js/app/data-providers.js"></script>
</body>

</html>